{%- set page_title = 'Главная' -%}

<!doctype html>
<html lang="ru" data-bs-theme="light">
	{% include "../templates/head.njk" %}

	<body>
		{% include "../templates/header.njk" %}
		<main></main>
		{% include "../templates/footer.njk" %}
		{% include "../templates/scripts.njk" %}
	</body>
</html>