<head>
	<title>{{ page_title | default("LYNX-Studio") }}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	{% include "./favicons.njk" %}

	<!-- CUSTOM STYLES (Кастомные стили) -->
	<link href="/css/style.min.css" rel="stylesheet" />
</head>
